src/core/githash.hpp
src/InputVariables/input_schema.hpp
build/
.vscode/launch.json
.vscode/settings.json
.vscode/
src/core/projectdir.hpp
ci-test/inputs/simulation.json
ci-test/inputs/hBN.json
ci-test/inputs/MoS2.json
ci-test/inputs/hBN_coulomb.json
ci-test/outputs/
CTEST/
